

.section{
background: white;

}

.navbar{
  background:#ecebea;
    z-index: 999;
    font: black;
    position: fixed;
    width:100%;
  opacity: 0.8;
    }

.btn{
  background-color:#5c8fda;
  color: white;
}
.image-size{
  width: 50px;
}
